*.xcworkspace
xcuserdata
*.o
*.svg
*/y.tab.c
*.out
*/lex.yy.c
*/calc_def
*/calc
Project2/parser.cpp
Project5/copydir
Project2/parser.hpp

Project2/parser.output

Project2/simple

Project2/lexer.cpp

Project2/mytests/.DS_Store

.DS_Store

